.main_page {
    height: 100vh;

    display: flex;
    flex-direction: column;

    @media screen and (max-width: 767px) {
        min-height: 540px;
    }

    @media screen and (min-width: 768px) {
        min-height: 560px;
    }
}



.wrap-hero {
    height: 100vh;
}

.hero {
    height: 100%;
    min-height: 450px;
    max-height: 1050px;

    // background-image: linear-gradient(147.39deg, rgba(0, 0, 0, 0.5) 0.49%, rgba(0, 0, 0, 0.352372) 12.76%, rgba(0, 0, 0, 0.213236) 24.32%, rgba(0, 0, 0, 0.155654) 29.11%, rgba(0, 0, 0, 0.07) 36.23%, rgba(0, 0, 0, 0.07) 39.95%), url(../img/hero/hero-1.jpg);
    background-size: 1044px auto;
    background-repeat: no-repeat;
    background-position: top right;

    // display: flex;
    // align-items: center;

    // transition: opacity 1s ease-in-out;

}

.hero1 {
    background-image: linear-gradient(147.39deg, rgba(0, 0, 0, 0.5) 0.49%, rgba(0, 0, 0, 0.352372) 12.76%, rgba(0, 0, 0, 0.213236) 24.32%, rgba(0, 0, 0, 0.155654) 29.11%, rgba(0, 0, 0, 0.07) 36.23%, rgba(0, 0, 0, 0.07) 39.95%), url(../img/hero/hero-1.jpg);
}

.hero2 {
    background-image: linear-gradient(147.39deg, rgba(0, 0, 0, 0.5) 0.49%, rgba(0, 0, 0, 0.352372) 12.76%, rgba(0, 0, 0, 0.213236) 24.32%, rgba(0, 0, 0, 0.155654) 29.11%, rgba(0, 0, 0, 0.07) 36.23%, rgba(0, 0, 0, 0.07) 39.95%), url(../img/hero/hero-2.jpg);
}

.hero3 {
    background-image: linear-gradient(147.39deg, rgba(0, 0, 0, 0.5) 0.49%, rgba(0, 0, 0, 0.352372) 12.76%, rgba(0, 0, 0, 0.213236) 24.32%, rgba(0, 0, 0, 0.155654) 29.11%, rgba(0, 0, 0, 0.07) 36.23%, rgba(0, 0, 0, 0.07) 39.95%), url(../img/hero/hero-3.jpg);
}


.hero-cont {

    position: absolute;
    top: 160px;
    z-index: 2;

    display: flex;
    flex-direction: column;

    @media screen and (max-width: 767px) {
        max-width: 288px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        max-width: 484px;
    }

    @media screen and (min-width: 1200px) {
        max-width: 618px;
    }
}

.hero__overtitle {
    margin-bottom: 4px;

    font-family: $secondary-font;
    line-height: calc(70px/48px);
    color: $accent-color;

    @media screen and (max-width: 767px) {
        font-size: 40px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        font-size: 44px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 48px;
    }
}

.hero__title {
    margin-bottom: 4px;

    font-family: $secondary-font;
    line-height: calc(140px/96px);
    font-weight: 400;

    @media screen and (max-width: 767px) {
        font-size: 48px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        font-size: 72px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 96px;
    }
}

.hero__description {
    margin-bottom: 24px;

    background: linear-gradient(160.6deg, rgba(0, 0, 0, 0.2) 46.17%, rgba(0, 0, 0, 0) 97.12%), rgba(100, 100, 100, 0.3);
    backdrop-filter: blur(15px);

    border-radius: 10px;
    line-height: calc(33px/24px);

    @media screen and (max-width: 767px) {
        font-size: 16px;
        padding: 20px 24px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        font-size: 20px;
        padding: 22px 30px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 24px;
        padding: 24px 50px;
    }
}

.hero__btn {
    padding: 12px 102px;
    border-width: 8px 12px;
    align-self: center;

    @media screen and (max-width: 767px) {
        padding: 12px 48px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        padding: 12px 60px;
    }

    @media screen and (min-width: 1200px) {
        padding: 12px 102px;
    }
}


.swiper-btn-prev,
.swiper-btn-next {
    position: absolute;
    bottom: 24px;
    z-index: 3;
    background-color: transparent;
    border: none;
}

.swiper-btn-prev {
    right: 212px;
}

.swiper-btn-next {
    right: 100px;
}