.order__title {
    font-size: 40px;
    line-height: calc(54px/40px);
}

.container-backdrop {
    @media screen and (min-width: 1200px) {
        padding-left: 70px;
        padding-right: 70px;
    }
}

.form-backdrop {

    background-image: url(../img/order.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;

    @media screen and (max-width: 767px) {
        padding: 48px 24px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        padding: 48px 14px;
    }

    @media screen and (min-width: 1200px) {
        padding: 66px 130px;
    }
}

.form {
    background: rgba(24, 23, 23, 0.3);
    border-radius: 10px;
    backdrop-filter: blur(15px);

    @media screen and (max-width: 767px) {
        padding: 48px 24px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        padding: 48px 14px;
    }

    @media screen and (min-width: 1200px) {
        padding: 62px 30px;
    }
}

.form__title {
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    line-height: calc(33px/24px);
    letter-spacing: 0.02em;
    color: $accent-color;
    margin-bottom: 36px;
}

.form__fields-wrap {
    display: flex;
    margin-bottom: 36px;

    @media screen and (max-width: 767px) {
        flex-direction: column;
    }

    @media screen and (min-width: 768px) {
        justify-content: space-evenly;
    }
}

.form__field {
    display: block;
    position: relative;

    @media screen and (max-width: 767px) {
        &+& {
            margin-top: 30px;
        }
    }
}

.form__input {
    margin: 0;
    padding: 14px 18px;

    background: $background-color;
    border: 1px solid $accent-color;
    border-radius: 5px;
    cursor: pointer;

    font-size: 16px;
    line-height: 1.24;
    color: inherit;

    transition: border-color 250ms linear;

    @media screen and (min-width: 768px) {
        max-width: 220px;
    }

    .form__field:hover & {
        border-color: $hov-color;
    }

    .form__field:focus-within>& {
        outline: none;
        border-color: $act-color;
    }
}

.form__label {
    position: absolute;
    top: 50%;
    left: 18px;
    transform: translateY(-50%);
    transition: transform 250ms linear, color 250ms linear;

    font-size: 16px;
    line-height: 1.24;
    letter-spacing: 0.063em;

    .form__field:hover & {
        color: $hov-color;
    }

    .form__field:focus-within>& {
        transform: translateY(-48px);
        color: $act-color;
    }

    .form__input:not(:placeholder-shown)+& {
        transform: translateY(-48px);
    }
}

.form__input-valid {
    border: 1px solid #33432B;
}

.form__input-invalid {
    border: 1px solid #5E2020;
}

.submit-btn {
    display: block;
    border-width: 7px 9px;
    color: inherit;
    margin: 0 auto;

    @media screen and (max-width: 767px) {
        padding: 7px 48px 6px 48px;
    }

    @media screen and (min-width: 768px) {
        padding: 7px 60px 6px 60px;
    }
}