#stages {
    .title-wrap {

        @media screen and (min-width: 1200px) {
            margin-bottom: 146px;
        }
    }

    .container {
        position: relative;
    }
}

.stages-cont {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.stages-list {

    @media screen and (max-width: 767px) {
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-bottom: 60px;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: space-between;
        margin-bottom: 248px;
    }
}

.stages-list-left-side {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-bottom: 60px;
    }
}

.stages-list__item {
    display: flex;
    align-items: center;

    @media screen and (max-width: 767px) {
        &+& {
            margin-top: 44px;
        }
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        &+& {
            margin-top: 60px;
        }
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 80px;
    }

    .stages-list__item-count {
        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 50%;
        margin-right: 20px;
        background-color: $accent-color;

        line-height: calc(27px/20px);
        color: $background-color;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        @media screen and (max-width: 767px) {
            width: 36px;
            height: 40px;
            font-size: 16px;
        }

        @media screen and (min-width: 768px) {
            width: 48px;
            height: 52px;
            font-size: 20px;
        }

        &:hover {
            background-color: $hov-color;
        }
    }

    .stages-list__item-about {
        font-size: 20px;
        line-height: calc(27px/20px);
        letter-spacing: 0.01em;

        @media screen and (max-width: 767px) {
            font-size: 16px;
        }

        @media screen and (min-width: 768px) {
            font-size: 20px;
        }
    }
}

.stages__img-wrap {

    @media screen and (max-width: 767px) {
        position: relative;
        display: inline-block;
        margin-left: 24px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        position: relative;
        margin-bottom: 30px;
    }

    @media screen and (min-width: 1200px) {
        position: absolute;
        top: -65px;
        left: 50%;
        transform: translateX(-195px);
    }

    .stages__img {
        border-radius: 30px 2px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    // 390*545
    &::after {
        content: "";
        position: absolute;
        width: calc(100% + 14px);
        height: calc(100%);
        top: 14px;
        left: 0;
        z-index: -1;
        background: $accent-color;
        border-radius: 30px 2px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover {
        .stages__img {
            transform: translateX(-14px) translateY(-15px);
        }

        &::after {
            transform: translateX(14px) translateY(15px);
        }
    }
}